<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<img src="SVG/person-svgrepo-com.svg" class="svg" id="svg-person">
<img src="SVG/home-svgrepo-com.svg"class="svg" id="svg-home">
<img src="SVG/hardware-svgrepo-com.svg"class="svg" id="svg-hardware">
<img src="SVG/folder-svgrepo-com.svg"class="svg" id="svg-folder">
<img src="SVG/task-list-svgrepo-com.svg" class="svg" id="svg-task-list">
<script src="GlobalVariable.js"></script>
<script src="Views/SliderItemView.js"></script>
<button id="menu-button" style="background-color:rgba(219, 210, 210, 0.712); max-height:100px;font-size:40px;position:absolute; top:1%;left:1%;" > < </button>
<div class="page">
    
    <div id="slider-container">
    </div>       

</div>
<script src="InitView.js"></script>
</body>
</html>
