<html>
<head>
    <link rel="stylesheet" href="./style.css">
 </head>
 <body>
<div style="height:100%;width:100%; margin-top: 10px;background-color:red;display: flex;flex-direction:column;overflow:auto;">

    <div id="slider-container" style="min-height:100%;width:100%; background-color:blue;display: flex;flex-direction:column;overflow:auto;">
        <div class="slider-item">
            <img src="SVG/home-svgrepo-com.svg" class="svg" id="svg-home">
            
        </div>
        <div class="slider-item">
            <img src="SVG/hardware-svgrepo-com.svg" class="svg" id="svg-hardware">
            <div class="subslider-container">
            </div>
        </div>
        <div class="slider-item">
            <img src="SVG/person-svgrepo-com.svg" class="svg" id="svg-person">
        </div>
        <div class="slider-item">
            <img src="SVG/task-list-svgrepo-com.svg" class="svg" id="svg-task-list">
        </div>
        <div class="slider-item">
            <img src="SVG/folder-svgrepo-com.svg" class="svg" id="svg-folder">
        </div>
    </div>       
</div>
    
</body>
</html>