<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.on('dateClick', function(info) {
          console.log('clicked on ' + info.dateStr);
        });
        calendar.render();
        
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
    <script>
      
    </script>
  </body>
</html>